# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List data science libraries
- A table of Data Science tools
- A code cell to multiply and add numbers

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python
4. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pytorch
3. Pandas
4. Matplotlib

| Data Science |
|--------------|
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Muhammad Sarmad Nawaz